.pagination_arrow {
  cursor: pointer;
  display: inline;
  padding: 6px 6px;
}

.pagination_current-page {
  display: inline;
  color:white;
  margin: 0 12px;
  padding: 8px 20px;
  background: darkslategray;
}

.pagination_page {
  display: inline;
  margin: 0 12px;
  padding: 8px 20px;
  background: gray;
}

.pagination {
  margin: 1em;
}
